frank-doc-doclet/src/test/resources/doc/examplesExpected/entityReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Public FrankDoc XSD, should be used within an IDE to validate a configuration. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.2.3-SNAPSHOT">
  <xs:element name="Configuration">
    <xs:annotation>
      <xs:documentation>The Configuration is placeholder of all configuration objects. Besides that, it provides
 functions for starting and stopping adapters as a facade.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ConfigurationType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module">
    <xs:annotation>
      <xs:documentation>Wrapper element to help split up large configuration files into smaller valid XML files. It may be used as root tag when an XML file contains multiple adapters and/or jobs. The Module element itself does not influence the behavior of Frank configurations.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="ConfigurationDeclaredChildGroup" />
      <xs:attribute ref="active" />
      <xs:anyAttribute namespace="##other" processContents="skip" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdapterType">
    <xs:annotation>
      <xs:documentation>The Adapter is the central manager in the Frank!Framework, that has knowledge
 and uses Receiver and a PipeLine.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Receiver" minOccurs="0" maxOccurs="unbounded" type="ReceiverType" />
      <xs:element name="ConfigWarning" minOccurs="0" maxOccurs="unbounded" type="WarningType" />
    </xs:sequence>
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.entity.reference.Adapter" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:attribute name="elementRole" type="xs:string" fixed="adapter" use="prohibited" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:complexType name="ReceiverType">
    <xs:annotation>
      <xs:documentation>Receiver controls the Listeners</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConfigWarning" minOccurs="0" maxOccurs="unbounded" type="WarningType" />
    </xs:sequence>
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.entity.reference.Receiver" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:attribute name="elementRole" type="xs:string" fixed="receiver" use="prohibited" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:complexType name="ConfigurationType">
    <xs:group ref="ConfigurationDeclaredChildGroup" />
    <xs:attributeGroup ref="ConfigurationDeclaredAttributeGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.entity.reference.Configuration" use="prohibited" />
  </xs:complexType>
  <xs:group name="ConfigurationDeclaredChildGroup">
    <xs:sequence>
      <xs:element ref="Module" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Adapter" minOccurs="0" maxOccurs="unbounded" type="AdapterType" />
      <xs:element name="ConfigWarning" minOccurs="0" maxOccurs="unbounded" type="WarningType" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="ConfigurationDeclaredAttributeGroup">
    <xs:attribute name="myAttribute" type="xs:string">
      <xs:annotation>
        <xs:documentation>This attribute should be allowed in element Configuration, but not in element Module.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:attributeGroup>
  <xs:simpleType name="frankBoolean">
    <xs:restriction base="xs:string">
      <xs:pattern value="(true|false)|($\{[^\}]+\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frankInt">
    <xs:restriction base="xs:string">
      <xs:pattern value="((\+|-)?[0-9]+)|($\{[^\}]+\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:attribute name="active">
    <xs:annotation>
      <xs:documentation>If defined and empty or false, then this element and all its children are ignored</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="!?(($\{[^\}]+\})|([tT][rR][uU][eE])|([fF][aA][lL][sS][eE]))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType name="variableRef">
    <xs:restriction base="xs:string">
      <xs:pattern value="$\{[^\}]+\}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WarningType">
    <xs:simpleContent>
      <xs:annotation>
        <xs:documentation>The warning will be shown in the Frank!Framework Console when the 'active' attribute evaluates to 'true'</xs:documentation>
      </xs:annotation>
      <xs:extension base="xs:string">
        <xs:attribute ref="active" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
