src/test/resources/doc/examplesExpected/configChildren.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.2.3-SNAPSHOT">
  <xs:element name="Master">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MasterType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module">
    <xs:annotation>
      <xs:documentation>Root element for XML files that contain multiple adapters and/or jobs scheduled for periodic execution. Such an XML file is included as entity reference in another XML file. The element does not influence the behavior of Frank configs.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="MasterDeclaredChildGroup" />
      <xs:attribute ref="active" />
      <xs:anyAttribute namespace="##other" processContents="skip" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MasterType">
    <xs:group ref="MasterDeclaredChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.Master" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="MasterDeclaredChildGroup">
    <xs:sequence>
      <xs:element ref="Module" minOccurs="0" maxOccurs="unbounded" />
      <xs:group ref="AElementGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:group name="AElementGroup">
    <xs:choice>
      <xs:element name="A">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="AElementGroup_2" />
              <xs:group ref="BElementGroup" />
              <xs:group ref="CElementGroup" />
              <xs:group ref="DElementGroup" />
            </xs:choice>
          </xs:sequence>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="AElementGroupBase" />
    </xs:choice>
  </xs:group>
  <xs:group name="AElementGroup_2">
    <xs:choice>
      <xs:element name="A">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="AElementGroupBase_2" />
      <xs:group ref="AElementGroupBase_3" />
    </xs:choice>
  </xs:group>
  <xs:group name="AElementGroupBase_2">
    <xs:choice>
      <xs:element name="My1A">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My1Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:complexType name="My1Type">
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.My1" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="AElementGroupBase_3">
    <xs:choice>
      <xs:element name="My2A">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My2Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:complexType name="My2Type">
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.My2" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="BElementGroup">
    <xs:choice>
      <xs:element name="B">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="b" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="BElementGroupBase" />
      <xs:group ref="BElementGroupBase_2" />
    </xs:choice>
  </xs:group>
  <xs:group name="BElementGroupBase">
    <xs:choice>
      <xs:element name="My1B">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My1Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="b" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="BElementGroupBase_2">
    <xs:choice>
      <xs:element name="My2B">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My2Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="b" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="CElementGroup">
    <xs:choice>
      <xs:element name="C">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="c" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="CElementGroupBase" />
    </xs:choice>
  </xs:group>
  <xs:group name="CElementGroupBase">
    <xs:choice>
      <xs:element name="My1C">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My1Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="c" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="DElementGroup">
    <xs:choice>
      <xs:element name="D">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="d" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="DElementGroupBase" />
    </xs:choice>
  </xs:group>
  <xs:group name="DElementGroupBase">
    <xs:choice>
      <xs:element name="My1D">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="My1Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="d" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="AElementGroupBase">
    <xs:choice>
      <xs:element name="Level1A">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="Level1Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Level2A">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="Level2Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Level3A">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="Level3Type">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelWithCumulativeA">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="LevelWithCumulativeType">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelWithCumulativeNoReuseA">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="LevelWithCumulativeNoReuseType">
              <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:complexType name="Level1Type">
    <xs:group ref="Level1DeclaredChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.Level1" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="Level1DeclaredChildGroup">
    <xs:sequence>
      <xs:group ref="AElementGroup_3" minOccurs="0" maxOccurs="unbounded" />
      <xs:group ref="BElementGroup_2" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:group name="AElementGroup_3">
    <xs:choice>
      <xs:element name="A">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="a" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="AElementGroupBase_2" />
    </xs:choice>
  </xs:group>
  <xs:group name="BElementGroup_2">
    <xs:choice>
      <xs:element name="B">
        <xs:complexType>
          <xs:attribute ref="active" />
          <xs:attribute name="elementRole" type="xs:string" fixed="b" use="prohibited" />
          <xs:attribute name="className" type="xs:string" use="required" />
          <xs:anyAttribute processContents="skip" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="BElementGroupBase" />
    </xs:choice>
  </xs:group>
  <xs:complexType name="Level2Type">
    <xs:group ref="Level2CumulativeChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.Level2" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="Level2DeclaredChildGroup">
    <xs:sequence>
      <xs:group ref="CElementGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:group name="Level2CumulativeChildGroup">
    <xs:sequence>
      <xs:group ref="Level2DeclaredChildGroup" />
      <xs:group ref="Level1DeclaredChildGroup" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="Level3Type">
    <xs:group ref="Level3CumulativeChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.Level3" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="Level3DeclaredChildGroup">
    <xs:sequence>
      <xs:group ref="AElementGroup_3" minOccurs="0" maxOccurs="unbounded" />
      <xs:group ref="DElementGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:group name="Level3CumulativeChildGroup">
    <xs:sequence>
      <xs:group ref="Level3DeclaredChildGroup" />
      <xs:group ref="Level2DeclaredChildGroup" />
      <xs:group ref="BElementGroup_2" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="LevelWithCumulativeType">
    <xs:group ref="LevelWithCumulativePluralConfigChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.LevelWithCumulative" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="LevelWithCumulativePluralConfigChildGroup">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="AElementGroup_2" />
        <xs:group ref="BElementGroup_2" />
        <xs:group ref="CElementGroup" />
        <xs:group ref="DElementGroup" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="LevelWithCumulativeNoReuseType">
    <xs:group ref="LevelWithCumulativeNoReusePluralConfigChildGroup" />
    <xs:attribute name="className" type="xs:string" fixed="org.frankframework.frankdoc.testtarget.examples.config.children.LevelWithCumulativeNoReuse" use="prohibited" />
    <xs:attribute ref="active" />
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
  <xs:group name="LevelWithCumulativeNoReusePluralConfigChildGroup">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="AElementGroup_2" />
        <xs:group ref="BElementGroup" />
        <xs:group ref="CElementGroup" />
        <xs:group ref="DElementGroup" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="frankBoolean">
    <xs:restriction base="xs:string">
      <xs:pattern value="(true|false)|($\{[^\}]+\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frankInt">
    <xs:restriction base="xs:string">
      <xs:pattern value="((\+|-)?[0-9]+)|($\{[^\}]+\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:attribute name="active">
    <xs:annotation>
      <xs:documentation>If defined and empty or false, then this element and all its children are ignored</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="!?(($\{[^\}]+\})|([tT][rR][uU][eE])|([fF][aA][lL][sS][eE]))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType name="variableRef">
    <xs:restriction base="xs:string">
      <xs:pattern value="$\{[^\}]+\}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>